* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    border: none;
}

body {
    max-width: 1300px;
    width: 100%;
    margin: 0px auto;
    background: white;
    /* min-height: 100vh; */
    height: auto;
    overflow-x: hidden;
}

canvas {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    gap: 1rem;
    background: #49535C;
}

.gate-creation-wrapper, .gate-selection-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 1rem;
    gap: 0.5rem;
    /* background: rgb(67, 105, 67); */
}

.gate-creation-wrapper h2, .gate-selection-wrapper h2 {
    color: white;
}

.gates-grid {
    width: 100%;
    height: auto;
    /* background: red; */
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, fit-content);
    padding: 0.5rem;
    gap: 1rem;
}

.gate {
    position: relative;
    width: 90%;
    height: 50px;
}

.gate-button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-weight: bold;
    border-radius: 1rem;
}

#gate-creation-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5rem;
    width: fit-content;
    height: 100%;
    margin-top: 1rem;
}

#gate-creation-form p {
    color: white;
}

#gate-creation-form #inputRange, #outputRange  {
    margin-bottom: 1rem;
}

#gate-creation-form #textInput {
    padding: 0.5rem;
    width: 300px;
    height: 40px;
    border-radius: 1rem;
}

#gate-creation-form button {
    width: 300px;
    height: 40px;
    border-radius: 1rem;
    margin-top: 0.5rem;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.remove-button {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -5px;
    right: -5px;
    background: rgb(250, 50, 50);
    color: white;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
}